PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE user (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username TEXT UNIQUE NOT NULL,
    password TEXT NOT NULL,
    ville TEXT NOT NULL
, role TEXT DEFAULT 'user');
INSERT INTO user VALUES(1,'admin','admin123','Paris','admin');
INSERT INTO user VALUES(2,'user2','user2123','Lyon','user');
CREATE TABLE products (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    quantity INTEGER NOT NULL,
    total_quantity INTEGER NOT NULL,
    price REAL NOT NULL,
    username TEXT NOT NULL,
    ville TEXT NOT NULL
);
INSERT INTO products VALUES(1,'peinture rouge',8,10,0.0,'admin','Paris');
INSERT INTO products VALUES(2,'ciment ',39,40,0.0,'admin','Paris');
INSERT INTO products VALUES(6,'stylo',48,50,25.0,'user2','Lyon');
CREATE TABLE sales (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    product_id INTEGER NOT NULL,
    username TEXT NOT NULL,
    quantity_sold INTEGER NOT NULL,
    total_price REAL NOT NULL,
    date TEXT DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (product_id) REFERENCES products(id)
);
INSERT INTO sales VALUES(1,1,'admin',2,0.0,'2026-01-07 14:39:19');
INSERT INTO sales VALUES(2,2,'admin',1,0.0,'2026-01-07 14:39:19');
INSERT INTO sales VALUES(3,3,'user2',1,9000.0,'2026-01-07 15:05:37');
PRAGMA writable_schema=ON;
CREATE TABLE IF NOT EXISTS sqlite_sequence(name,seq);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('user',2);
INSERT INTO sqlite_sequence VALUES('products',10);
INSERT INTO sqlite_sequence VALUES('sales',11);
PRAGMA writable_schema=OFF;
COMMIT;
