{% extends "base.html" %}
{% block title %}Ventes{% endblock %}

{% block content %}
<h2>Démarrer une facture</h2>
<form action="/create-invoice" method="post" class="card">
  <label>Client :</label>
  <input type="text" name="client_name" required>
  <button type="submit">Créer la facture</button>
</form>

<hr>

<h2>Historique des ventes</h2>
<table class="table">
  <thead>
    <tr>
      <th>Produit</th>
      <th>Client</th>
      <th>Vendeur</th>
      <th>Quantité</th>
      <th>Total (FCFA)</th>
      <th>Date</th>
      <th>Facture</th>
    </tr>
  </thead>
  <tbody>
    {% for sale in sales %}
    <tr>
      <td>{{ sale.product.name }}</td>
      <td>{{ sale.client_name }}</td>
      <td>{{ sale.username }}</td>
      <td>{{ sale.quantity_sold }}</td>
      <td>{{ "%.2f"|format(sale.total_price) }}</td>
      <td>{{ sale.date.strftime('%d/%m/%Y %H:%M') }}</td>
      <td>
        <a href="/invoice/{{ sale.invoice_id }}" class="btn btn-primary">
          📄 Voir facture
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}